@mixin create-alert($color, $color-light) {
	&.is-dark {
		background-color: $color;
		color: $white;
	}

	&.is-light {
		background-color: $color-light;
		color: $color;
	}
}

.app-alert {
	width: 100%;
	padding: .8rem 1.6rem;
	margin: 0;
	border-radius: 4px;
	position: relative;
	background-color: $white;
	overflow: hidden;
	opacity: 1;
	display: flex;
	justify-content: space-between;
	min-width: 20rem;
	// margin-right: 3rem;
	z-index: 20000;

	+ .app-alert {
		margin-top: 1rem;
	}

	.app-alert-content {
		flex: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.alert-info {
		@include create-alert($info, $info-100)
	}

	&.alert-success {
		@include create-alert($success, $success-100)
	}

	&.alert-danger {
		@include create-alert($danger, $danger-100)
	}

	&.alert-warning {
		@include create-alert($warning, $warning-100)
	}

	.has-close-btn {
		color: $white;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 1.2rem;
		// margin-left: 1rem;
	}
	&.is-light .has-close-btn {
		color: $gray-600;
	}

}