@mixin create-default-btn($color, $color-light) {
  background-color: $color;
  border-color: $color;
  color: $white;

  &:hover {
    color: $white;
    border-color: $color-light;
    background-color: $color-light;
  }

  &.btn-disabled {
    opacity: 0.7;
    cursor: default;

    &:hover {
      background-color: $color;
      border-color: $color;
      color: $white;
    }
  }
}

@mixin create-btn-outlined($color, $color-100, $color-300) {
  color: $color;
  background: $color-100;
  border-color: $color-300;

  &:hover {
    background: $color;
    border-color: $color;
    color: $white;
  }

  &.btn-disabled {
    opacity: 0.7;
    cursor: default;

    &:hover {
      color: $color;
      background: $color-100;
      border-color: $color-300;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $white;
  border: 1px solid $gray-500;
  color: $gray-800;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  position: relative;

  // default size
  padding: 1rem 2rem;
  font-size: inherit;
  border-radius: .4rem;

  &:hover {
    color: $primary;
    border-color: $primary-200;
    background-color: $primary-100;
  }

  &.btn-disabled {
    opacity: 0.7;
    cursor: default;

    &:hover {
      background-color: $white;
      border-color: $gray-500;
      color: $gray-800;
    }
  }
}

.btn-mini {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: .3rem;
}

.btn-sm {
  padding: .9rem 1.5rem;
  font-size: 1.2rem;
  border-radius: .3rem;
}

.btn-md {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: .4rem;
}

.btn-lg {
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  border-radius: .4rem;
}

// defaults btns
.btn-primary {
  @include create-default-btn($primary, $primary-400);
}

.btn-success {
  @include create-default-btn($success, $success-300);
}

.btn-danger {
  @include create-default-btn($danger, $danger-300);
}

.btn-warning {
  @include create-default-btn($warning, $warning-300);
}

.btn-info {
  @include create-default-btn($info, $info-300);
}

// outline btns
.btn-outlined {
  &:hover {
    background-color: $white;
    border-color: $primary;
    color: $primary;
  }

  &.btn-primary {
    @include create-btn-outlined($primary, $primary-100, $primary-200);
  }

  &.btn-success {
    @include create-btn-outlined($success, $success-100, $success-200);
  }

  &.btn-danger {
    @include create-btn-outlined($danger, $danger-100, $danger-200);
  }

  &.btn-warning {
    @include create-btn-outlined($warning, $warning-100, $warning-200);
  }

  &.btn-info {
    @include create-btn-outlined($info, $info-100, $info-200);
  }
}

// rounded btns
.btn-rounded {
  border-radius: 2rem;
  padding: 1.2rem 2.3rem;
}

// circle btns
.btn-circle {
  border-radius: 50%;
  padding: 1.2rem;
}

// txt btns
.btn-txt {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  border: transparent;
  color: $primary;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    color: tint-color($primary, 20%);
    border-color: transparent;
    background-color: transparent;
  }

  &.btn-success {
    color: $success;

    &:hover {
      color: $success-300;
    }
  }

  &.btn-danger {
    color: $danger;

    &:hover {
      color: $danger-300;
    }
  }

  &.btn-warning {
    color: $warning;

    &:hover {
      color: $warning-300;
    }
  }

  &.btn-info {
    color: $info;

    &:hover {
      color: $info-300;
    }
  }

  &.btn-disabled {
    color: $gray-700;
    cursor: default;

    &:hover {
      color: $gray-700;
    }
  }
}