$clr-pink: #fdcfe8;
$clr-blue: #aecbfa;
$clr-yellow: #fff79f;
$clr-green: #83c694;

$clr-grey-0: rgb(250, 250, 250);
$clr-grey-1: rgba(219,219,219,1);
$clr-grey-2: rgb(239, 239, 239);
$clr-grey-3: #8e8e8e;

$clr-white: #ffffff;


$main-font-family: 'Noto Sans', sans-serif;

$default-font-size: 1.4rem;

$desktop-nav-height: 6rem;
$footer-nav-height: 5rem;

$max-content-width: 60rem;