.app-radio {
  color: #606266;
  font-weight: 500;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: 1.4rem;
  margin-right: 3rem;

  &:last-child {
    margin-right: 0
  }
  
  .app-radio-input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    .app-radio-inner {
      border: 1px solid #dcdfe6;
      border-radius: 100%;
      width: 1.4rem;
      height: 1.4rem;
      background-color: $white;
      position: relative;
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;

      &:after {
        width: .4rem;
        height: .4rem;
        border-radius: 100%;
        background-color: $white;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(0);
        transition: transform .15s ease-in;
      }
    }

    &.is-checked .app-radio-inner:after {
      transform: translate(-50%,-50%) scale(1);
    }

    .app-radio-original {
      opacity: 0;
      outline: none;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }

    &.is-checked {
      + .app-radio-label {
        color: $primary;
      }
    
      .app-radio-inner {
        border-color: $primary;
        background: $primary;
      }
    }

    &.is-disabled {
      .app-radio-inner {
        background-color: $gray-100;
        border-color: $gray-400;
        cursor: default;
      }
      
      .app-radio-inner:after {
        cursor: default;
        background-color: $gray-100;
      }
  
      &+span.app-radio-label {
        color: $gray-600;
        cursor: default;
      }
    }
  }

  .app-radio-label {
    font-size: 1.4rem;
    padding-left: .7rem;
  }
}