@mixin create-alert($color, $color-light) {
	&.is-dark {
		background-color: $color;
		color: $white;
	}

	&.is-light {
		background-color: $color-light;
		color: $color;
	}
}

.app-alert {
	width: 100%;
	padding: 8px 16px;
	margin: 0;
	box-sizing: border-box;
	border-radius: 4px;
	position: relative;
	background-color: $white;
	overflow: hidden;
	opacity: 1;
	display: flex;
	align-items: center;
	transition: opacity .2s;

	+ .app-alert {
		margin-top: 10px;
	}

	&.alert-info {
		@include create-alert($info, $info-light-100)
	}

	&.alert-success {
		@include create-alert($success, $success-light-100)
	}

	&.alert-danger {
		@include create-alert($danger, $danger-light-100)
	}

	&.alert-warning {
		@include create-alert($warning, $warning-light-100)
	}
}